<div class="bg-transparent">

  <div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

  <div class="card-body">
    <div class="row">
      <div *ngFor="let p of planets" class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src='{{baseImg}}{{p.name}}' class="card-img-top" alt="Planet">
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Factory Score </li>
            <li class="list-group-item"></li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
