<div>

  <div>
    <h2 class="card-header text-center">{{title}}</h2>
  </div>

  <div class="card-body">
    <div>
      <button *ngIf="this.authService.authenticated" class="btn-lg btn-primary mx-auto d-block" id="start">START GAME
      </button>
      <button *ngIf="!this.authService.authenticated" class="btn-lg btn-primary mx-auto d-block" id="login" routerLink="/login">Log in
      </button>
      <button *ngIf="!this.authService.authenticated" class="btn-lg btn-primary mx-auto d-block" id="register" routerLink="/register">Register
      </button>

    </div>
    <img src="assets/galaxy.png" class="img-fluid mx-auto d-block" alt="Star Wars Galaxy">
  </div>


</div>
